-# .flash-block
-#   .notice グループを作成しました
.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name
        = current_user.name
      %ul.user-menu
        %li.user-menu__new-group
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.user-menu__edit-user
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            %p.group__group-name
              = group.name
            %p.group__latest-message
              = group.show_last_message


  .chat-main
    .main-header
      .current-group{"data-group_id" => "#"}
        %h2.current-group__name
          = @group.name
        %ul.member-list
          Member :
          = render partial: 'group', collection: @groups
      = link_to edit_group_path(current_user) do
        .main-header__edit-btn
          Edit



    .messages
      = render @messages
      -# = render partial: 'message', collection: @messages
      -# 上は省略形で下は省略していない形式



    -# .form
      %form.new-message{"accept-charset" => "UTF-8",method: "post"}
        .input-box
          %input#message_content.input-box__text{name: "content", placeholder: "type a message", type: "text"}/
          %label.image-label{for: "message_image"}
            %i.fa.fa-image
            %input#message_image.image-label__input{name: "image", type: "file"}/
        %input.new-message__submit-btn{type: "submit", value: "Send"}/


    -# .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'new-message, input-box__text', placeholder: 'type a message'
        .input-box
          = f.label :image, class: 'image-label' do
            = fa_icon 'picture-o', class: 'image-label'
            = f.file_field :image, class: 'image-label__input'
        = f.submit 'Send', class: 'new-message__submit-btn'


    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'image-label'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

